<html>
    <head>
        <title>pawanvir singh blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">keep it simple blog </a></h1>
        </div>

        <div>
            <p>published: 7.10.2015, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Your mind is designed for searching  new posibilities let him do it -just simply fallow it, it leades you towards opportunities.</p>
        </div>

        <div>
            <p>published: 7.10.2015, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>why  we are here , just search for it  and  go for it- then you have no doubt about your sucess and achivment. </p>
        </div>
    </body>
</html>

